* {
    background-color: rgba(214, 219, 238, 0.788);
}

.nav {
    text-align: end;
    margin: 2px;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    color: navy;
}

.vraag-balk {
    text-align: center;
    color:  darkorange;
    font-size: larger;
    
}

.answer-buttons {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr
}

.answer-buttons button {
    width: 80%;
    height: 50ps;
    text-align: center;
    align-items: center;
}

