* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e4a7e;
    margin-top: 100px;
    /* zorgt dat de header niet onder het logo valt */

}



/*  Titel Sport&Quizz */
header {
    background-color: #5A827E;
    font-size: 36px;
    font-weight: bold;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-family: cursive;
    gap: 15px;
}



/* tot hier */

/*  De antwoorden buttons */

.Antwoorden button {
    background-color: #819A91;
    border: none;
    border-radius: 50px;
    padding: 5px;
    font-size: 22px;
    font-weight: bold;
    height: 75px;
    width: 100%;
    color: white;
    cursor: pointer;

}

.Antwoorden {
    text-align: center;
    display: grid;
    gap: 80px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    margin-top: 70px;
    max-width: 800px;
}

/*  dit is vraag van de quizz komt hier */
.Vraag-box {
    background-color: #A7C1A8;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 35px;
    text-align: center;
    margin: 0 auto;
    width: 900px;
    color: white;
    font-family: cursive;
}


/*  vooruitgangs balk */
.progress {
    background-color: #A7C1A8;
    color: white;
    padding: 12px;
    border-radius: 12px;
    margin: 20px auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 40%;
    font-family: 'Franklin Gothic Medium';
}


/*  dit is de button terug en volgende */
.navigatie-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.navigatie-buttons button {
    background-color: #5A827E;
    color: white;
    border: none;
    padding: 14px 28px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}


/* power ups button */

.powerups {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
}

.powerups button {
    background-color: #5A827E;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

/* .powerups button:disabled {
    background: gray;
    cursor: not-allowed;
} */