* {
  background-color: cornflowerblue;
  text-align: center;
}

.button {
  background-color: white;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.score {
  text-align: center;
}

header,
h1 {
  background-color: rgb(45, 109, 228);
  padding: 5px;
  margin: 5px;
}

#knop1 {
    background-color: red;
    color: white;
}

#knop2 {
    background-color: blue;
    color: white;
}

#knop3 {
    background-color: rgb(197, 197, 62);
    color: white;
}

#knop4 {
    background-color: green;
    color: white;
}